{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }}{% endblock %}
{% block pagetitle %}{{ annonce.title }}{% endblock %}

{% block body %}
    <img src="{{ absolute_url(asset(annonce.image)) }}" />
    <a href="{{ path('app_annonce_edit', { id: annonce.id } ) }}">Modifier l'annonce</a>
    <a href="{{ path('app_annonce_delete', { id: annonce.id } ) }}">Supprimer l'annonce</a>
    <a href="{{ path('app_annonce_index') }}">Retour à l'accueil</a>
    <p>
        {{ annonce.description }}
    </p>
    <p>
        <strong>Price :</strong> {{ annonce.price|price }}
    </p>
{% endblock %}
